@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.mainContainerOfLogin {
  margin-top: 8%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* .leftContainerOfLogin {
} */
.leftContainerOfLogin > img {
  max-width: 700px;
  height: auto;
  object-fit: fill;
}
.rightContainerOfLogin {
  margin-top: 2%;
  width: 22%;
}
.loginContainerOfLogin > h2 {
  text-align: center;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif !important;
}
.loginContainerOfLogin > p {
  text-align: center;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif !important;

}
.inputField{
    font-family: 'Poppins', sans-serif !important;
}

.inputContainerOfLogin {
  display: block;
  justify-content: start;
}

.forgotPasswordContainerOfLogin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inputArea {
  width: 100%;
}
.checkBoxArea {
  display: flex;
  justify-content: start;
  align-items: center;
}
.loginBtn {
  width: 100%;
  height: 35px;
  color: white;
  background-color: #61acb3;
  border: none;
  font-family:'Poppins', sans-serif !important;
  border-radius: 22px;
  font-weight: bold;
}
.checkBoxArea>p{
  font-family: 'Poppins',sans-serif !important;
}
.forgotPasswordContainerOfLogin>p{
  font-family:'Poppins', sans-serif !important;
  color: #61acb3;
}
.loginBtn:hover{
    opacity: 0.8;
}
.termCondition{
  font-family:'Poppins', sans-serif !important;
  text-align: center;
  font-size: 14px;
  
}
@media screen and (max-width:900px) {
    .leftContainerOfLogin>img{
        width: 100%;
        max-width: 350px;
        height: auto;
    }
    .checkBoxArea>p{
        font-size: 12px;
    }
    .forgotPasswordContainerOfLogin>p{
        font-size: 12px;
    }
    .rightContainerOfLogin{
        width: 80%;
    }
}