
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.mainContainerOfRegister {  
  margin-top: 8%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.leftContainerOfRegister > img {
  max-width: 700px;
  height: auto;
  object-fit: fill;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.inputArea{
    padding-top: 2px;
}

.rightContainerOfRegister {
 margin-top: 2%;
  width:22%;
}
.signUpContainerOfRegister > h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
  margin: 0 auto;
}
.signUpContainerOfRegister > p {
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
  margin: 0 auto;
}

.inputContainerOfRegister {
  display: block;
  justify-content: start;
}

.forgotPasswordContainerOfRegister {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputArea {
  width: 100%;
}
.checkBoxArea {
  display: flex;
  justify-content: start;
  align-items: center;
}
.signUpBtn {
  width: 100%;
  height: 35px;
  color: white;
  background-color: #61acb3;
  border: none;
  font-family: 'Poppins', sans-serif !important;
  border-radius: 22px;
  font-weight: bold;
}
.signUpBtn:hover{
    opacity: 0.8;
}
.loginHeading{
  font-size: 12px;
  text-align: center;
  font-family: 'Poppins', sans-serif !important;

}

@media screen and (max-width:900px) {
    .leftContainerOfRegister>img{
        width: 100%;
        max-width: 350px;
        height: auto;
    }
    .checkBoxArea>p{
        font-size: 12px;
    }
    .forgotPasswordContainerOfRegister>p{
        font-size: 12px;
    }
    .rightContainerOfRegister{
        width: 80%;
    }
}